<h1><%= @todo.title %></h1>
 
<h2> Sub Todos </h2>

<% @todo.children.each do |child_todo| %>
  <p>
    <%= link_to child_todo.title, todo_path(child_todo.id) %>
  </p>
<%end %>

<p>
<%= link_to 'Add Sub Todo', todo_new_child_path %>
</p>

<% if @todo.parent %>
  <p>
  <%= link_to 'Parent Todo', todo_path(@todo.parent.id) %>
  </p>
<% end %>

<p>
<%= link_to 'Top Level Todo', todo_index_path %>
</p>
